// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background: image-url('HomebaseBG.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white
}


.arcade {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
}
.arcade1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: white;
}

.home {
    width: 110px;
    height: 140px;
    margin-left: 160px;
}

.input-group {
    width: 300px;
    margin-top: 20px;
    
}

.form-control {
    border: 3px solid #8B008B;
}

.btn-custom {
    background-color: #8B008B;
}

.squiggly2 {
    margin-left: 115px;
    margin-top: -15px;
   
}

.email-submit {
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: -10px
}

.effect {
    margin-left: 80px;
}

#logo-header {
    margin-top: -150px;
}
.work {
    margin-left: 135px;
    margin-top: 100px;
    width: 110px;
    height: 140px;
}

.pacman {
    width: 110px;
    height: 100px;
    margin-top: 100px;
    margin-left: 160px;
    
    
}

.lead {
    font-size: 17px;
    text-align: center;
}
    
    

.logo {
    width: 400px;
    height: 250px;
    
   
}


.squiggly1 {
    width: 150px;
    height: 380px;
    margin-left: 160px;
    margin-top: -60px;
}

.workout {
    width: 110px;
    height: 140px;
    margin-left: 120px;
}

.uparrow {
    width: 110px;
    height: 240px;
    margin-left: 180px;
    
}

.effect {
    margin-right: 180px;
}


header {
    color: white;
    text-align: center;
}


.bottom {
    text-transform: capitalize;
}

footer {
    color: white;
    margin-left: 450px;
    
}



.no-gutters {
 float: left;
}

.footer-content {
    margin-top: -100px;
}

.ice {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0000ff , 0 0 30px #0000ff , 0 0 40px #0000ff , 0 0 55px #0000ff , 0 0 75px #0000ff ;
}

.arrow {
    width: 150px;
    height: 140px;


}

.wellness {
    width: 110px;
    height: 140px;
    margin-left: 0px;
    margin-right: 0px;
}


// Media Query 

@media only screen and (max-width: 414px) {
    body {
        width: 500px;
        
    }
    
    .arcade {
        font-size: 10px;
        margin-left: -50px;
    }
    
    .arcade1 {
        font-size: 10px;
        margin-left: -50px;
    }

    
    .logo {
        height: 200px;
        width: 150px;
    }
    
    .home {
        height: 70px;
        margin-left: -50px;
    }
    
    .center-block {
        margin-top: -320px;
        margin-right: 200px;
    }
    
    .lead {
        margin-left: -50px;
    }
    .effect {
        margin-right: -20px;
    }
    
    footer {
        
        width: 350px;
    } 
    
    .footer-content {
        margin-left: -300px;
       
    
    }
    
    .no-gutters {
        width: 80px;
        margin-right: 20px;
    }
    
    .ice {
        width: 200px;
        margin-left: -140px;
        
    }
    
    h6 {
        margin-left: -140px;
        margin-top: 100px;
    }
    
    .arrow {
        margin-left: -50px;
        margin-top: 120px;
        width: 100px;
    }
    
    .wellness {
        margin-left: -50px;
        margin-top: 80px;
        width: 120px;
        height: 120px;
        
    }
    
    .email-submit {
        margin-top: 180px;
    }
    
    .input-group {
        margin-left: -80px;
    }
    
    .squiggly2 {
        margin-left: -100px;
        margin-top: -40px
    }
    
    .work {
        margin-left: -20px;
        height: 80px;
        margin-top: -600px;
    }
    
    .workout {
        height: 100px;
        margin-left: -190px;
        margin-top: 70px;
    }
    
    .uparrow {
        display: none;
    }
    
    .squiggly1 {
        display: none;
    }
    
    .pacman {
        display: none;
    }
}





